@import url('https://fonts.googleapis.com/css2?family=Sarabun&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
*{
    margin: 0;
    font-family: 'Sarabun', sans-serif;
}

body{
    background: url(./imagen/fondeRobot.jpg);
}

.menu-container{
    background-color: #78C1F3;
    padding:-10px -5px;
}


.seleccion-menu{
    list-style-type: none;
}
.item-menu{
    display: inline-block;
    padding: -5px;
}
ul{

    list-style-type: none;
    display: inline-block;
/*
    Etiqueta que podemos usar para modificar el listado
    list-style: ;
*/
}
/*Etiqueta numerica cambiamos simbolos
ol{
    list-style:
}*/

/*Listado ordenado*/
.item-menu{
    display: inline-block;
    padding: 5px;
}

.productos{
    list-style-type: none;
    background-color: pink;
    color:black;
    display: none;
    position: absolute;
    top:40px
}
.item-menu{
    position: relative;
    cursor: pointer;
}
.item-menu:hover>.productos{
    display: block;
}

/*Logo imag*/

#logo{
   margin-left: 20px;
}

.letras{
    text-align: center;/*para centrar*/
    margin-left: 400; 
    font-size: 30px;
    color: rgb(255, 77, 0);
}

/*---Text Principal---*/

.seleccion-titulo{
    height: 500px;
    background-image: url(./imagen/Robot-imagen.jpg);
    /*background-image: url(./imagen/Robot-imagen.jpg); position 50% fixed otra manera de hacerlo mas rapido*/
    margin-bottom: 50px;
    background-position: 50%;/*sirve para cambiar el angulo de la img*/
    /*background-size:contain; para adaptar la imagen*/
    background-attachment: fixed;
    text-align: center;
}

.decoracion{
    text-align: center;
    font-family: 'VT323', monospace;
    color: #1d794b;
    padding-bottom: 5px;
    padding-top: 80px;
    font-size: 70px;
    text-shadow: 4px -4px burlywood, 
                 6px -7px rgb(0, 0, 0);
}

/*-------Modificacion de las cajas--------*/



/*----Clasificacion Robotica-----*/

h3{
    font-size: 40px;
    background-color:#4992b6;
    text-align: center;
    margin-bottom: 30px;
}

.tarjetas{
    display: inline-block;
    width: 300px;/*modica el espacio que tiene la caja y lo que contiene tambien se ajusta*/
    height: 150px;
    margin-bottom: 20px; /*genera distancia en el inferior*/
    border: 4px solid #9BE8D8;
    border-radius: 10px;
    text-align: center;
    box-sizing:border-box;/*ALINIA DE FORMA CORRECTA IMPORTANTE*/

    background: linear-gradient(/*deg--> grados de inclinacion*/45deg, #A0C49D 30%, #E1ECC8 50%, #F7FFE5 100%); /*con esto generamos un*/ /*con los % generamos cual domine mas*/
}

.boton-tarjeta{
    padding: 10px;
    text-transform: uppercase;/*Hace la letra en MAYUSCULA*/
    background-color: #61e8cd;
    color: #001C30;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow:  inset 4px 4px 5px #1D5B79,
                       4px 4px 5px #001C30; /*Con esto generamos bordes en los cuatros lados*//*bordes, izquierdo genera sombra, abajo " ", 3 pix genera la intensidad de la sombra*/
}

a{
    text-decoration: none; /*Quitamos la rayita de los botones con enlaces*/
}

.seccion-datos{
    font-size: 20px;
}

.pie-de-pagina{
    padding: 50px 10px;
    background: radial-gradient(circle at 50%, #27374D 20%, #526D82 50%, #DDE6ED 70%);
    /*Forma circular de hacer un degrado, existen muchas formas mas*/
}